body{
	background-color:black;
	background-repeat: no-repeat;
	background-size:cover;
	opacity:0.9;
	height:100%;
	width:100%;
}
h1{
	font-size:50px;
	color:#C0C0C0 ;
	display:block;
	font-style:bold;
	padding:40px;
	padding-top:5px;
	padding-bottom:0px;
}
h2{
	font-size:20px;
	color:#C0C0C0 ;
	font-style:italic;
	padding-left:40px;
}
h3{
	color:#33FF00;
	display:block;
	margin:auto;
	width: 60%;
	padding:10px;
}
.img-prof {
	width:100%;
}
.prof{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 100px;
}
a{
	border: 2px solid;
    border-radius: 50px;
	text-align:center;
	border-color:#00FF00 ;
	border-bottom-width:3px;
	border-left-width:3px;
	border-right-width:3px;
	border-top-width:3px;
	color:#000000 ;
	font-size:20px;
	text-decoration: none;
	margin:auto;
	display:block;
	width:40%;
	background-color:#00FF00;
}
ul{
	display:block;
	margin:auto;
	width: 70%;
	padding:10px;
}


@media only screen and (min-width: 1000px){
	h1{
	margin:auto;
	width:55%;
	}
	
	h2{
	font-size:30px;
	padding-top:20px;
	padding-bottom: 40px;
	margin:auto;
	width:30%;
	}
	.prof{
	width: 15%;
	}
	h3{
	font-size: 30px;
	}
	a{
	border-color:#C0C0C0 ;
	padding:10px;
	padding-right:0px;
	padding-left:0px;
	color:#C0C0C0 ;
	width:20%;
	background-color:#000000;
	}
	a:hover{
		background-color:#00FF00;
		color:black;
		border-color:black;
	}
	div.content{
		padding-top: 40px;
	}
	
}





















