body{
	background-color: black !important;
	opacity: 0.8;
    
}
.name{
	font-size:30px;
	color:white  ;
	float: right;
	font-weight: 700;
  font-family: "Poppins", sans-serif;
	padding-right: 20px;
	padding-top: 80px;
	border-bottom: 2px solid #00FF00;
}
.prof{
	width: 160px;
	padding: 20px;
	border-radius: 100px;
}
.info{
	font-size: 20px;
	font-weight: 700;
    font-family: "Raleway", sans-serif;
    padding: 40px;
    color: #FFFFFFCC;
}
.fa {
  padding: 10px;
  font-size: 23px !important;
  text-align: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.fa-facebook {
  background: #FFFFFF1A;
  color: #00FF00;
}
.fa-instagram {
  background: #FFFFFF1A;
  color: #00FF00;
}
.fa-google {
  background: #FFFFFF1A;
  color: #00FF00;
}
.fa-youtube {
  background: #FFFFFF1A;
  color: #00FF00;
}
.social-links{
	padding: 40px;
}

@media only screen and (min-width: 1000px){

  ul.nav{
    float: right;
    padding: 10px;
    padding-right: 90px;
    }
  a.navbar-brand{
      padding: 25px;
      font-size: 30px;
    }
  .content{
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .prof{
    width: 30%;
    position: absolute;
  }
  .name{
    padding: 0px;
    padding-right: 40%;
  }
  div.info{
    float: right;
    padding-top: 50px;
    padding-right: 10%;
    font-size: 28px;
  }
  .social-links{
    width: 100%;
    padding-top: 20%;
  }
  .fa-facebook:hover {
  color: gray;
  }
  .fa-instagram:hover {
   color: gray;
  }
  .fa-google:hover {
    color: gray;
  }
  .fa-youtube:hover {
    color: gray;
  }
}
















